@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono");

html,
body {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, sans-serif;
}

header {
  padding: 1em 1em;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

main {
  padding: 1em 4em;
}

footer {
  padding: 1em 1em;
  background-color: #eee;
  border-top: 1px solid #ccc;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid;
}

h1 {
  font-size: inherit;
  font-weight: normal;
}

h1 a {
  margin-right: 10px;
  padding-left: 20px;
  background: url("https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg") no-repeat left center;
  background-size: 20px;
  text-decoration: none;
}

input[type="checkbox"] {
  position: relative;
  top: -1px;
}

#stats {
  width: 100%;
  height: auto;
  aspect-ratio: 10 / 4;
}

x3d-canvas {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}
