@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono");

html,
body {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, sans-serif;
}

header {
  height: 4em;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

main {
  padding: 2vw 8vw;
}

footer {
  height: 4em;
  background-color: #eee;
  border-top: 1px solid #ccc;
}

h1 {
  border-bottom: 1px solid #ccc;
}

x3d-canvas {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 5;
}
